

        <% layout("/layouts/boilerplate") %>

<div class="row">

    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h3>Edit your listing</h3>

        <form method="post" action="/listings/<%=list._id%>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>

                <input class="form-control" value="<%= list.title %>" name="title" type="text" required>

                <div class="invalid-feedback">
                    Please provide valid title
                </div>
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Description</label>

                <textarea class="form-control" name="description" required><%= list.description %></textarea>

                <div class="invalid-feedback">
                    Please provide valid description
                </div>
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Original Image</label>
                <br>

                <img
                    src="<%=originalImgUrl%>"
                    class="img-fluid rounded"
                    style="width: 15rem; height: 10rem;"
                    alt=""
                >
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Upload Image</label>

                <input class="form-control" name="image" type="file">

                <div class="invalid-feedback">
                    Please provide valid image link
                </div>
            </div>

             <div class="mb-3">
    <label for="category" class="form-label">Category</label>
           <select
    class="form-select"
    id="category"
    name="category"
    required
>
    <option value="Trending"
        <%= list.category === "Trending" ? "selected" : "" %>>
        Trending
    </option>

    <option value="Rooms"
        <%= list.category === "Rooms" ? "selected" : "" %>>
        Rooms
    </option>

    <option value="Mountains"
        <%= list.category === "Mountains" ? "selected" : "" %>>
        Mountains
    </option>

       <option value="Dome"
        <%= list.category === "Dome" ? "selected" : "" %>>
        Dome
    </option>

       <option value="Boats"
        <%= list.category === "Boats" ? "selected" : "" %>>
        Boats
    </option>

          <option value="Beach"
        <%= list.category === "Beach" ? "selected" : "" %>>
        Beach
    </option>

       <option value="Castles"
        <%= list.category === "Castles" ? "selected" : "" %>>
        Castles
    </option>

          <option value="Iconic cities"
        <%= list.category === "Cities" ? "selected" : "" %>>
        Iconic cities
    </option>

          <option value="Amazing Pools"
        <%= list.category === "Pools" ? "selected" : "" %>>
        Amazing Pools
    </option>

             <option value="Camping"
        <%= list.category === "Camping" ? "selected" : "" %>>
        Camping
    </option>


             <option value="Farms"
        <%= list.category === "Farms" ? "selected" : "" %>>
        Farms
    </option>

                 <option value="Arctic"
        <%= list.category === "Arctic" ? "selected" : "" %>>
        Arctic
    </option>

                     <option value="House"
        <%= list.category === "House" ? "selected" : "" %>>
        House
    </option>


                     <option value="Villa"
        <%= list.category === "Villa" ? "selected" : "" %>>
        Villa
    </option>

                     <option value="Apartment"
        <%= list.category === "Apartment" ? "selected" : "" %>>
        Apartment
    </option>

                     <option value="AC"
        <%= list.category === "AC" ? "selected" : "" %>>
        AC
    </option>

                     <option value="Gym"
        <%= list.category === "Gym" ? "selected" : "" %>>
        Gym
    </option>

                     <option value="Parking"
        <%= list.category === "Parking" ? "selected" : "" %>>
        Parking
    </option>

</select>
</div>

            <div class="row">

                <div class="mb-3 col-12 col-md-4">
                    <label for="title" class="form-label">Price</label>

                    <input class="form-control" value="<%= list.price %>" name="price" type="number" required>

                    <div class="invalid-feedback">
                        Please provide valid price
                    </div>
                </div>

                <div class="mb-3 col-12 col-md-8">
                    <label for="title" class="form-label">Country</label>

                    <input class="form-control" value="<%= list.country %>" name="country" type="text" required>

                    <div class="invalid-feedback">
                        Please provide valid country
                    </div>
                </div>

            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Location</label>

                <input class="form-control" value="<%= list.location %>" name="location" type="text" required>

                <div class="invalid-feedback">
                    Please provide valid location
                </div>
            </div>

            <button class="btn btn1 btn-dark" type="submit">Edit</button>

        </form>

        <br><br>

    </div>

</div>